table{
    width: 500px;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border-style:solid;
    border-color: #DED5D3;
    border-width: 12px;
}

th,td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4A4746;
    color: white;
}

tr:hover {
    background-color: #e6f7ff;
}